<launch>
  <!-- Define model parameter for both TurtleBots -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- Define initial position and orientation for TurtleBot 3_0 -->
  <arg name="tb3_0_x" default="0.0"/>
  <arg name="tb3_0_y" default="0.0"/>
  <arg name="tb3_0_yaw" default="0.0"/>

  <!-- Define initial position and orientation for TurtleBot 3_1 -->
  <arg name="tb3_1_x" default="2.0"/>
  <arg name="tb3_1_y" default="2.0"/>
  <arg name="tb3_1_yaw" default="1.57"/>

  <node name="map_server2" pkg="map_server2" type="map_server2" args="$(find map_server2)/maps/map.yaml" output="screen"/>
  <node name="map_server1" pkg="map_server" type="map_server" args="$(find map_server2)/maps/map.yaml" output="screen"/>

  <!-- TurtleBot 3_0 Launch in namespace 'tb3_0' -->
  <group ns="tb3_0">
    <!-- Set tf_prefix for TurtleBot 3_0 -->
    <param name="tf_prefix" value="tb3_0"/>

    <param name="tb3_model" value="$(arg model)"/>

    <!-- Include the robot description and other necessary configurations -->
    <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
      <arg name="model" value="$(arg model)" />
    </include>

    <!-- Launch the robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- Launch the TurtleBot fake node for simulation with initial pose arguments -->
    <node pkg="turtlebot3_fake" type="turtlebot3_fake_node" name="turtlebot3_fake_node" output="screen">
      <param name="initial_x" value="$(arg tb3_0_x)"/>
      <param name="initial_y" value="$(arg tb3_0_y)"/>
      <param name="initial_yaw" value="$(arg tb3_0_yaw)"/>
    </node>
  </group>

  <!-- TurtleBot 3_1 Launch in namespace 'tb3_1' -->
  <group ns="tb3_1">
    <!-- Set tf_prefix for TurtleBot 3_1 -->
    <param name="tf_prefix" value="tb3_1"/>

    <param name="tb3_model" value="$(arg model)"/>

    <!-- Include the robot description and other necessary configurations -->
    <include file="$(find turtlebot3_bringup)/launch/includes/description.launch.xml">
      <arg name="model" value="$(arg model)" />
    </include>

    <!-- Launch the robot state publisher -->
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!-- Launch the TurtleBot fake node for simulation with initial pose arguments -->
    <node pkg="turtlebot3_fake" type="turtlebot3_fake_node" name="turtlebot3_fake_node" output="screen">
      <param name="initial_x" value="$(arg tb3_1_x)"/>
      <param name="initial_y" value="$(arg tb3_1_y)"/>
      <param name="initial_yaw" value="$(arg tb3_1_yaw)"/>
    </node>
  </group>

  <!-- Launch RViz with a custom configuration to visualize both robots -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot3_fake)/rviz/custom_multi_turtlebot_config.rviz"/>
</launch>
